.narad{
    background:none;
    color: gold;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding: 100px;
    /* font-family: Arial; */
    text-shadow: 2px 2px 2px red;
}
body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Neucha', cursive;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1;
}
.layout {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    height: calc(100vh - 60px);
    overflow: hidden;
    height: auto;
  }
  
  .left-panel, .right-panel {
    background: rgba(0, 0, 0, 0.45);
    padding: 20px;
    overflow-y: auto;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 24px;
}

.toys{
  background: rgba(214, 214, 214, 0.4);
  padding: 10px 30px;
  border-radius: 10px;
  
}

.tree-grid{
  background: rgba(214, 214, 214, 0.4);
  padding: 10px 40px;
  border-radius: 10px;
  
  
}
.button{
  background: none;
  border-radius: 10px;
  border-color:lightblue ;
  
}
.toy-on-tree {
  position: absolute;
  cursor: pointer;
  pointer-events: auto;  
  z-index: 5;            
}
.garland-on-tree {
  position: absolute;
  cursor: pointer;
  pointer-events: auto;
  z-index: 4;
  animation: blink 1.6s infinite ease-in-out;
}


@keyframes blink {
0%   { opacity: 1; }
50%  { opacity: 0.3; }
100% { opacity: 1; }
}


.toys-grid {
  
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(0,0,0,.15);
  
  

}

.toy {
  /* background: #e3cbc2; */
  background: rgba(214, 214, 214, 0.4);
  padding: 10px;
  border-radius: 10px;
  object-fit: contain;
}

.tree-area {
  position: relative;
}
.button{
background: rgba(214, 214, 214, 0.4);
border-radius: 10px;

}




